#boldit {
    font-weight: 700;
}

p {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}

img {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 5%;
}

#pop {
    background-color: white;
    max-width: 280px;
    border-radius: 5%;
    padding: 20px 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}